<%-include('admin-header')%>
<style>
    .grid{
     grid-gap: 2rem ;
    }
    .order-div{
    
        margin: auto;
        width: 100%;
        text-align: center;
    }
    

    .info{
        color:purple;
        font-weight: 600;
    }

    li{
        margin-bottom: 1.5rem;
    }
    </style>


 <div class="details major-div">
    <h1 class="sh-1"> Orders</h1>
<div class="grid">


    
    <%if(allOrders){%>
        <%allOrders.forEach(order =>{%>

            <div class="order-div card">
                <a href="/admin/get-one-order/<%=order._id%>">
                <p class="name"><span class="info">name of customer: </span><%=order.customerName%></p>
                <p class="name"><span class="info">customer Address: </span><%=order.customerAddress%></p>
                <p class="name"><span class="info">phone number: </span><%=order.customerPhone%></p>
                <p class="name"><span class="info">number of items ordered:</span><%=order.orderitems.length%></p>
                <p class="name"><span class="info">total price:</span><%=order.price%></p>
                <p class="name"><span class="info">transactionRef:</span><%=order.transactionRef%></p>
                <p class="name"><span class="info">transactionId: </span><%=order.transactionId%></p>
                <p class="name"><span class="info">date of order</span><%=order.date%></p>
                <p class="name"><span class="info">comments:</span><%=order.comments%></p>
                
                <%if(order.delivered){%>
                    <h2 class="sh-2 btn btn-primary">delivered<i class="fa fa-check-circle"></i></h2>
                <%}else{%>
                    <a style="margin:auto" href="/admin/delivered/<%=order._id%>"><h2 class="sh-2 btn btn-secondary">delivery pending</h2></a>
                <%}%>
            </a>
            </div>

            
        <%})%>

    <%}%>
 </div>
   
</div>
<%-include('footer')%>